*{
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #c0c0c0;
}

html,body{
    height: 100vh;
    width: 100%;
}

body{
    padding-top: 65px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;

    height: 80px;
    width: 100%;
    background-color: blanchedalmond;
}

nav img{
   position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

section{
    min-height: 100%;
    width: 100%;
    padding: 16px;
    color: white;
}

#home{
    background-color: rebeccapurple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#about{
    background-color: green;
}

.content{
    border: solid cornflowerblue 5px;
    height: 300px;
    border-radius: 10px;
    padding: 16px;
    margin: 4px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content img{
    width: 250px;
}
